@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  font-family:Inter,sans-serif;

  background:#071C2C;

  color:white;

  overflow-x:hidden;

}

a{
  text-decoration:none;
  color:inherit;
}

img{
  display:block;
  max-width:100%;
}

button{
  font-family:inherit;
}

:root{

--primary:#7FBF3F;

--primary-light:#9BD44A;

--dark:#071C2C;

--dark2:#0C2942;

--gold:#D8B04C;

--white:#FFFFFF;

}